---
layout: permalink
title: "Ideas: Pictures"
date: "0000-01-01"
fixed: true
subtitle: ""
---

{% include heading.html text="Portals" %}

<p>
A museum exhibit where every display is a screen showing a security camera feed from a different part of the exhibit.
</p>

<p>
Variation 1: Cameras are located at strategic angles throughout the exhibit.
</p>

<p>
Variation 2: Cameras are behind each display, pointed at the viewer.
</p>

{% include heading.html text="Roasted Art" %}

<p>
Create an oven-safe canvas. Arrange assorted vegetables on it and roast them. Keep the caramelized residue as art. Eat the vegetables.
</p>

{% include heading.html text="Living Spaces" %}

<p>
An empty apartment building is handed over to artists, who decorate each room as if a quirky personality lives there.
</p>

{% include heading.html text="Mashed Up" %}

<p>
Variation 1: Popular songs are stuck together like puzzle pieces, at points where their melodies overlap.
</p>

<p>
Variation 2: Popular songs are stuck together like puzzle pieces, at points where their lyrics overlap.
</p>

{% include heading.html text="Audio Scene" %}

<p>
A large blank room with hidden speakers everywhere, emitting the sounds that complete an imaginary scene.
</p>

<p>
Example: An imaginary farm, where a cow moos from one corner, and the farmer's wife calls for him from beyond the door. Water is running from an imaginary spigot, and a chicken clucks as it wanders the room.
</p>

{% include heading.html text="Shadows, Plays, and Movies" %}

<p>
Variation 1: Half the parts are filmed, the other half are live actors acting the missing parts in front of the screen.
</p>

<p>
Variation 2: Half the parts are actors on stage, the other half are silhouettes of actors behind a light screen.
</p>

<p>
Variation 3: Half the parts are filmed, the other half are shadow puppets from the projector.
</p>

{% include heading.html text="Pixel Music" %}

<p>
Sample a digital image and map pixel colors to notes. Search for images by keyword and play an orchestra of similar images.
</p>

{% include heading.html text="Kite Writing" %}

<p>
Long-exposure photography of colorful kites, taken from the ground on a day with blue skies and clouds.

{% include heading.html text="Programming Music" %}

<p>
Take a practical computer program, map notes to keywords, variables, or other syntax. Execute the code on various inputs to create music.
</p>

{% include heading.html text="Play Acting" %}

<p>
Variation 1: A simple solo piano piece where the majority of the notation is comments on how the pianist should act while playing a note.
</p>

<p>
Variation 2: A ballet solo where the ballerina occasionally dances to a piano and plays a couple notes. Perhaps an annoyed pianist is playing accompaniment.
</p>

{% include heading.html text="Pokemon, the ballet" %}

<p>
...starring Magikarp!
</p>

{% include heading.html text="Live Action Gaming" %}

<p>
Street Fighter contestants taking orders from the audience.
</p>

{% include heading.html text="Reverse Tourism" %}

<p>
Stand in or on tourist attractions. Take photos of other tourists.
</p>

{% include heading.html text="Musical Stress Relief" %}

<p>
Install a giant xylophone in a padded room. Allow guests to bring in giant mallets and let out some musical feelings.
</p>

{% include heading.html text="Ringtone Medley" %}

<p>
An orchestral piece using popular ringtones as motifs.
</p>

{% include heading.html text="Fight Song" %}

<p>
Spar with musical swords that resonate in different tones depending on the type of swing.
</p>
