<div class="gallery">
  <!-- Display style, with one image -->
  {% if include.url %}
    <a href="javascript:;"
       onclick="openImagePreview('{{ include.url }}')">
      <img src="../deferred.png" data-src="{{ include.url }}">
    </a>
  {% endif %}

  <!-- Gallery style, with many images -->
  {% if include.urls %}
    {% assign urls = include.urls | split: ' ' %}
    {% for url in urls %}
      <a href="javascript:;"
         onclick="openImagePreview('{{ url }}')">
        <img src="../deferred.png" data-src="{{ url }}">
      </a>
    {% endfor %}
  {% endif %}
</div>
