---
layout: permalink
date: "2022-04-24"
title: "Hextech Chest"
subtitle: "fan art"
---

<h4>Overview</h4>

Read more about the Hextech Chest at <a href="https://leagueoflegends.fandom.com/wiki/Hextech_Crafting?file=Hextech_Crafting_Chest.png" target="_blank">leagueoflegends.fandom.com</a>.

{% include image.html urls="../things/hextech-chest.jpg" %}
<center><i>Laser-cut Hextech Chest.</i></center>

{% include image.html urls="../things/hextech-chest.svg" %}
<center><i>SVG cut pattern.</i></center>

{% include image.html urls="../things/hextech-chest.gif" %}
<center><i>Articulate latch using wooden dowels.</i></center>

<h4>Design</h4>

<ul>
  <li>Inkscape</li>
</ul>

<h4>Equipment</h4>

<ul>
  <li>Laser cutter</li>
</ul>

<h4>Materials</h4>

<ul>
  <li>3mm MDF</li>
  <li>2.5mm wooden dowels</li>
</ul>

<h4>Outsourcing</h4>

<ul>
  <li>Modeled off of League of Legends' <a href="https://leagueoflegends.fandom.com/wiki/Hextech_Crafting?file=Hextech_Crafting_Chest.png" target="_blank">Hextech Chest</a>.</li>
</ul>

<h4>Assets</h4>

<ul>
  <li><a href="../things/hextech-chest.svg">SVG cut pattern</a></li>
</ul>
