---
layout: permalink
title: "Ideas: Things"
date: "0000-01-01"
fixed: true
subtitle: ""
---

{% include heading.html text="Bow Tie Tie" %}

<p>
A full tie with a bow at the top instead of a knot.
</p>

{% include heading.html text="Glass Slippers" %}

<p>
Bunny-shaped, but not fuzzy.
</p>

{% include heading.html text="Platform Socks" %}

<p>
For that extra height when chilling at home.
</p>

{% include heading.html text="Recursive Chair" %}

<p>
A chair shaped like a sitting person.
</p>

{% include heading.html text="BobbleButt Doll" %}

<p>
Pretty self-explanatory.
</p>

{% include heading.html text="Your Conscience Speaking" %}

<p>
Headphones that play independent audio tracks into each ear.
</p>

{% include heading.html text="Oven Socks" %}

<p>
For when your hands are full?
</p>

{% include heading.html text="Insta-Cookers" %}

<p>
Defibrillator paddles for food.
</p>

{% include heading.html text="My Eyes are Up Here" %}

<p>
Eyeball print on a bikini.
</p>

{% include heading.html text="A Pant" %}

<p>
The left half of a pair of pants.
</p>

{% include heading.html text="Doppelthingers" %}

<ul>
  <li>A knitted scarf that looks like a collar and tie</li>
  <li>A lamp shade that looks like an umbrella</li>
  <li>Playing cards that look like credit cards</li>
  <li>Ice cubes that look like sea creatures</li>
  <li>A watch that looks like a pair of handcuffs</li>
</ul>
