---
layout: permalink
date: "2022-12-21"
title: "Inserter (Factorio)"
subtitle: "fan art"
---

<h4>Overview</h4>

Read more about inserters at <a href="https://wiki.factorio.com/Inserters" target="_blank">wiki.factorio.com</a>.

{% include image.html urls="../things/inserter.jpg" %}
<center><i>3D printed inserter.</i></center>

{% include image.html urls="../things/inserter-joints.gif" %}
<center><i>Articulate inserter joints.</i></center>

{% include image.html urls="../things/inserter-clamps.gif" %}
<center><i>Articulate inserter clamps.</i></center>

<h4>Design</h4>

<ul>
  <li>OpenSCAD</li>
</ul>

<h4>Equipment</h4>

<ul>
  <li>3D printer</li>
  <li>Paint brush</li>
</ul>

<h4>Materials</h4>

<ul>
  <li>Silver PLA</li>
  <li>Acrylic paint</li>
</ul>

<h4>Outsourcing</h4>

<ul>
  <li>Modeled off of Factorio's <a href="https://wiki.factorio.com/Inserters" target="_blank">inserters</a>.</li>
</ul>

<h4>Assets</h4>

<ul>
  <li><a href="../things/inserter.stl">3D model</a></li>
</ul>
