---
layout: permalink
date: "2022-10-19"
title: "Lloid (gyroid)"
subtitle: "fan art"
---

<h4>Overview</h4>

Read more about Lloid at <a href="https://animalcrossing.fandom.com/wiki/Lloid" target="_blank">animalcrossing.fandom.com</a>.

{% include image.html urls="../things/lloid.jpg" %}
<center><i>3D printed Lloid figurine.</i></center>

{% include image.html urls="../things/lloid.gif" %}
<center><i>Articulate arms and removable hat (not shown).</i></center>

<h4>Design</h4>

<ul>
  <li>OpenSCAD</li>
</ul>

<h4>Equipment</h4>

<ul>
  <li>3D printer</li>
  <li>Paint brush</li>
</ul>

<h4>Materials</h4>

<ul>
  <li>Black PLA</li>
  <li>Acrylic paint</li>
</ul>

<h4>Outsourcing</h4>

<ul>
  <li>Modeled off of Animal Crossing: New Horizons' <a href="https://animalcrossing.fandom.com/wiki/Lloid" target="_blank">Lloid</a>.</li>
</ul>

<h4>Assets</h4>

<ul>
  <li><a href="../things/lloid.stl">3D model</a></li>
</ul>
