<html>
<head>
<title>Conilogues - {{ page.title }}</title>
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../styles/book.css">
</head>
<body>

  <div id="book-container">
    <button class="prev-page" onclick="turnPageLeft()"></button>
    <div id="page-left" class="page">
      <img src=''>
    </div>
    <div id="page-right" class="page">
      <img src=''>
    </div>
    <button class="next-page" onclick="turnPageRight()"></button>
  </div>

  <input id="book-slider" type="range" step="2" min="-1"
      max="{{ page.pages | modulo: 2 | times: -1 | plus: page.pages }}"
      oninput="viewPageSlider()" onchange="turnPageSlider()">

  <script type="text/javascript" src="../scripts/book.js"></script>
  <script type="text/javascript">
    initBook({{ path.path }}, {{ page.file }}, {{ page.pages }});
  </script>
</body>
</html>
