<html>
<head>
<title>{{ page.title }}</title>
  <link rel="stylesheet" href="../styles.css">

  {% for item in site[page.path] %}
    {% assign extension = item.relative_path | split: '.' | last %}
    {% if extension == 'scss' %}
      <link rel="stylesheet" href="{{ item.url }}">
    {% endif %}
  {% endfor %}
</head>
<body onload="loadCollectionPage()">
  <script type="text/javascript" src="../scripts.js"></script>

  <div id="controls">
    <button class="control prev"></button>
    <button class="control next"></button>
    <button class="control expand" onclick="expandAll()"></button>
    <button class="control collapse" onclick="collapseAll()"></button>
  </div>

  <div id="content">

    {% assign items = site[page.path] | sort: 'date' reversed %}
    {% for item in items %}
      {% assign extension = item.relative_path | split: '.' | last %}
      {% if extension == 'html' %}
        <div class="preview {% if item.date == '999' %} intro {% endif %}"
             id="{{ item.relative_path | split: '/' | last | split: '.' | first }}">
          <div class="heading">
            <span class="title"> {{ item.title }} </span>
            <span class="subtitle"> {{ item.subtitle }} </span>
          </div>
          <div class="body">
            <div class="content">
              {{ item.content }}
              <br><br><br>
            </div>
            <div class="permalink">Permalink:
              <a href="{{ item.url }}">http://con.ilogues.com{{ item.url }}</a>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}

  </div>

  <div id="footer">
    <a href="../">home</a>
    {% for collection in site.collections %}
      {% capture collectionName %}{{ collection | first }}{% endcapture %}
        <a href="../{{ collectionName }}"
                {% if collectionName == page.path %} class="active" {% endif %}>
        {{collectionName}}
        </a>
    {% endfor %}
  </div>
</body>
</html>
