<html>
<head>
<title>{{ page.title }}</title>
  <link rel="stylesheet" href="../styles.css">
</head>
<body>
  <div id="controls">
    <button class="control prev"></button>
    <button class="control next"></button>
    <button class="control expand" onclick="expandAll()"></button>
    <button class="control collapse" onclick="collapseAll()"></button>
  </div>

  <div id="content">

    {% for item in site[page.path] %}
      <div class="preview">
        <div class="heading">
          <span class="title"> {{ item.title }} </span>
          <span class="subtitle"> {{ item.subtitle }} </span>
        </div>
        <div class="body">
          <div class="content">
            {{ item.content }}
            <br><br><br>
          </div>
          <div class="permalink">Permalink: <a href="{{ item.url }}">http://con.ilogues.com{{ item.url }}</a></div>
        </div>
      </div>
    {% endfor %}

  </div>

  <div id="footer">
    <a href="../">home</a>
    {% for collection in site.collections %}
      {% capture collectionName %}{{ collection | first }}{% endcapture %}
        <a href="../{{ collectionName }}"
                {% if collectionName == page.path %} class="active" {% endif %}>
        {{collectionName}}
        </a>
    {% endfor %}
  </div>

  <script type="text/javascript" src="../scripts.js"></script>
</body>
</html>
