<html>
<head>
<title> {{ page.title }} </title>
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../styles/styles-dark.css">
  <link rel="stylesheet" href="{{ page.url | replace: 'html', 'css'}}">
</head>
<body>
  <script type="text/javascript" src="../scripts.js"></script>

  {% include image-overlay.html %}

  <div id="content">

    <div class="post active"
        id="{{ page.relative_path | split: '/' | last | split: '.' | first }}">
      <div class="heading static">
        <span class="title"> {{ page.title }} </span>
        <span class="subtitle"><i> {{ page.subtitle }} </i></span>
      </div>
      <div class="body">
        <div class="content">
          {{ content }}
        </div>
        <div class="footer">
          Copyright &#169; Connie Wan 2015-2023

          {% if page.fixed != true %}
            <div class="date">
              Last updated: {{ page.date | date: '%B %d, %Y' }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>

  </div>

  <div id="footer">
    <a href="../">home</a>
    {% assign collections = site.collections | sort: 'order' %}
    {% for collection in collections %}
      {% capture collectionName %}{{ collection.label }}{% endcapture %}
      {% if collectionName != 'posts' %}
        <a {% if collectionName != page.path %} href="../{{ collectionName }} {% endif %}"
                  {% if collectionName == page.path %} class="active" {% endif %}>
          {{collectionName}}
        </a>
      {% endif %}
    {% endfor %}
  </div>

  <script type="text/javascript" src="../scripts/theme.js"></script>
  <script type="text/javascript" src="../scripts/images.js"></script>
  <script type="text/javascript">
    setTheme();
    document.querySelector('.body').style.top =
        document.querySelector('.heading').offsetHeight + 'px';
    loadImages(document.querySelector('#content'));
  </script>
</body>
</html>
