<html>
<head>
<title> {{ page.title }} </title>
  <link rel="stylesheet" href="../styles.css">
  <link rel="stylesheet" href="{{ page.url | replace: 'html', 'css'}}">
</head>
<body>
  <script type="text/javascript" src="../scripts.js"></script>

  <div id="content">

    <div class="preview active"
        id="{{ page.relative_path | split: '/' | last | split: '.' | first }}">
      <div class="heading static">
        <span class="title"> {{ page.title }} </span>
        <span class="subtitle"><i> {{ page.subtitle }} </i></span>
      </div>
      <div class="body">
        <div class="content">
          {{ content }}
        </div>
        <div class="footer">
          Copyright &#169; Connie Wan 2015

          {% if page.date != '0000-00-00' && page.date != '9999-99-99' %}
            <div class="date">
              Last updated: {{ page.date | date: '%B %d, %Y' }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>

  </div>

  <div id="footer">
    <a href="../">home</a>
    {% for collection in site.collections %}
      <a href="../{{ collection | first }}">
        {{collection | first}}
      </a>
    {% endfor %}
  </div>

  <script type="text/javascript">
    document.querySelector('.body').style.top =
        document.querySelector('.heading').offsetHeight + 'px';
  </script>
</body>
</html>
