body {
  background-color: #000000;
}

#book-container {
  position: absolute;

  width: 100%;
  height: calc(100% - 50px); /* page slider */

  padding: 0 25px;

  font-size: 0;
  white-space: nowrap;
}

#book-container .page {
  display: inline-block;

  position: relative;

  width: 50%;
  height: 100%;

  padding: 10px;
}

#page-left {
  text-align: right;

  padding-right: 1px;
}

#page-right {
  text-align: left;

  padding-left: 1px;
}

#book-container .page img {
  position: relative;

  max-width: 100%;
  max-height: 100%;

  top: 50%;
  transform: translate(0, -50%);
}

#book-slider {
  position: absolute;
  bottom: 0;

  width: calc(100% - 50px);
  height: 50px;

  margin: 0 25px;
  padding: 0;
}
