/* Color reference:
 *
 * Primary text: #D6D6D6
 * Secondary text: #CCCCCC
 * Primary divider: #555555
 * Secondary divider: #444444
 * Primary background: #222222
 * Secondary background: #111111 (enabled)
 * Highlight: #303030
 * Link: #8BBBBB
 */

body.dark {
  background-color: #222222;
  color: #D6D6D6;
}

.dark h1, .dark h2 {
  color: #D6D6D6;
}

.dark a {
  color: #8BBBBB;
}

.dark #footer {
  color: #D6D6D6;
  box-shadow: 0px -2px 10px #000000;
}

.dark #footer a {
  color: #D6D6D6;
}

.dark #footer a.active {
  color: #8BBBBB;
}

.dark #footer a:not(.active):hover,
.dark #footer a:not(.active):focus {
  background-color: #303030;
}

.dark #footer #word a {
  color: #8BBBBB;
}

.dark .portal:after {
  background-color: #555555;
}

.dark .post {
  border-color: #555555;
}

.dark .post .heading {
  color: #CCCCCC;
}

.dark .post.active .heading {
  border-color: #444444;
}

.dark .post .title {
  color: #D6D6D6;
}

.dark .post:not(.active):hover,
.dark .post:not(.active):focus {
  background-color: #303030;
}

.dark .post .heading:hover:after {
  border-color: #555555;
}

.dark .post.active .heading:after {
  border-color: #555555;
}

.dark .post .body .footer {
  border-color: #444444;
}

.dark .control {
  border-color: #555555;
  background-color: #111111;
}

.dark .control:not(:disabled):hover,
.dark .control:not(:disabled):focus {
  background-color: #303030;
}

.dark .control:disabled {
  background-color: #222222;
}

.dark .control.prev:after {
  border-color: #555555;
}

.dark .control.next:after {
  border-color: #555555;
}

.dark .control.expand:before {
  border-color: #555555;
}

.dark .control.expand:after {
  border-color: #555555;
}

.dark .control.collapse:after {
  border-color: #555555;
}

/* Sun to switch to light theme */
.dark .control.theme:after {
  content: '';

  position: absolute;
  left: 18px;
  top: 18px;
  width: 12px;
  height: 12px;

  border-radius: 50%;

  background-color: #555555;

  box-shadow: none;
}

.dark .control.theme .ray {
  position: absolute;
  height: 0;
  width: 6px;

  border-bottom: 6px solid #555555;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.dark .control.theme .ray:nth-child(1) {
  left: 21px;
  bottom: 7px;
}
.dark .control.theme .ray:nth-child(2) {
  top: 31px;
  left: 11px;
  transform: rotate(45deg);
}
.dark .control.theme .ray:nth-child(3) {
  top: 21px;
  left: 7px;
  transform: rotate(90deg);
}
.dark .control.theme .ray:nth-child(4) {
  top: 11px;
  left: 11px;
  transform: rotate(135deg);
}
.dark .control.theme .ray:nth-child(5) {
  left: 21px;
  top: 7px;
  transform: rotate(180deg);
}
.dark .control.theme .ray:nth-child(6) {
  top: 11px;
  right: 11px;
  transform: rotate(225deg);
}
.dark .control.theme .ray:nth-child(7) {
  top: 21px;
  right: 7px;
  transform: rotate(270deg);
}
.dark .control.theme .ray:nth-child(8) {
  top: 31px;
  right: 11px;
  transform: rotate(315deg);
}

